<div class="fondo">
    <div class="container cuerpo">
        <div class="card" style="width: 18rem;">
            <div class="centrar">
                <img src="https://cdn.icon-icons.com/icons2/2483/PNG/512/user_icon_149851.png" class="card-img-top img" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title">LOGIN</h5>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <span class="material-icons-outlined">person</span>
                    </span>
                    <input [(ngModel)]="usuario.user" name="user" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <span class="material-icons-outlined">password</span>
                    </span>
                    <input [(ngModel)]="usuario.password" name="password" type="password" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <a (click)="login()" class="btn btn-primary">Go somewhere</a>
                <!-- <a routerLink="/user/solicitud" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
</div>