<app-header></app-header>
<app-navbar></app-navbar>
<div class="cuerpo list-h">
    <div class="registro list-v centrar-h">
        <div class="titulo list-v centrar-h">
            <div>
                <h3>Registrar Organización</h3>
            </div>
            <!-- <div class="sub list-h">
                <p><strong>estudiante: </strong>{{estudiante}}</p>
                <p><strong>código estudiante: </strong>{{codigo}}</p>
            </div> -->
        </div>
        <div class="formulario list-h">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Documentos</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Opciones</th>
                        <th scope="col">Comentario</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of documentos">
                        <th>{{d.id}}</th>
                        <td>{{d.nombre}}</td>
                        <td><span type="button" class="material-icons-outlined">
                                visibility
                            </span>
                            <!-- {{d.desc}} -->
                        </td>
                        <td>opciones</td>
                        <td>{{d.com}}</td>
                        <td>{{d.est}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <button type="button" class="btn btn-primary">Registrar</button>
    </div>
</div>